<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Chat Xiec</title>
  {% include 'meta-data.html'%}
</head>
<body>
  <!-- <input type="text" id="text-message">
  <input type="button" id="btn-message" value="Send">
  <div id="message-container">  </div> -->

  <!-- {%include 'private-message.html'%} -->


  <!-- <h1> Herokuapp</h1>
  {% if "loggedin" in session %}
  <h2>hello:{{username}}</h2>
  <br>
  {% else %}
  <a href="{{url_for('login')}}" method = 'get'>login</a>
  <br>
  {% endif %}
  <a href="{{url_for('logout')}}">logout</a>
  <br>
  <a href="{{url_for('register')}}" method = 'post'>register</a> -->

  <div class="h-80px w-100 d-flex justify-content-between bg-dark">
    <div id="logo" class="col-md-1 h-70px bg-primary"></div>
    <h1 class ="text-primary">Let's chat and watch together!</h1>
    <div class="col-md-4 h-80px bg-primary">

    </div>
  </div>

</body>
</html>
