<div id="login-box" class="col-md-4 h-80px d-flex justify-content-between d-flex align-items-md-center">
  <div id="signin-image">
    <img src="../../static/image/user Copy.png" alt="" height="36" width="36">
  </div>
  <div id="signin-text">
    <a class="nav-link active text-dark" href="#" data-toggle="modal" data-target="#login-form">sign in</a>
    {% include 'homepage/login-form.html'%}
  </div>
</div>
<div id="signup-box" class="col-md-4 h-80px d-flex justify-content-between d-flex align-items-md-center">
  <div id='signup-image'>
    <img src="../../static/image/edit.png" alt="" height="36" width="36">
  </div>
  <div id='signup-text'>
    <a class="nav-link active text-dark" href="#" data-toggle="modal" data-target="#register-form">sign up</a>
    {% include 'homepage/register-form.html'%}
  </div>
</div>
