<nav class="nav d-flex justify-content-between d-flex align-items-md-center bg-dark">
  <div class="col-md-1 h-80px d-flex align-items-md-center">
    <img src="../../static/image/Logo_top.png" alt="" usemap="#link" height="70" width="100">
    <map name="link">
      <area shape="rect" coords="0,0,100,100" alt="" href="{{url_for('index')}}">
    </map>
  </div>
  <div class="h-60px">
    <h1 class='text-primary'>Let's chat and watch together!</h1>
  </div>
  <div id='sign-tab' class="col-md-4 h-80px d-flex justify-content-md-end">
    {% include 'homepage/before-login.html'%}
  </div>
</nav>
