<div class="col-md-12 h-100px bg-dark d-flex">
  <div class="col-md-6 h-100px ">
    <div class="form-group col-md-10">
      <label for="inputAddress2">ROOM'S PASSWORD</label>
      <input type="password" name="password" class="form-control" id="inputAddress2" placeholder="Enter your room password! Leave it blank if you want!">
    </div>
  </div>
  <div class="col-md-6 h-100px d-flex justify-content-center d-flex flex-wrap ">
    <div id='number-count' class="col-md-3 h-30px bg-primary rounded text-center">
      <h5>1024 Users</h5>
    </div>
    <div id='avatar-count-contain' class="col-md-12 h-70px d-flex align-items-md-center">
      <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width="50px" height="50px">
      <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width="50px" height="50px">
      <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width="50px" height="50px">
      <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width="50px" height="50px">
      <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width="50px" height="50px">
      <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width="50px" height="50px">
      <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width="50px" height="50px">
      <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width="50px" height="50px">
      <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width="50px" height="50px">
      <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width="50px" height="50px">
      <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width="50px" height="50px">
      <img class="avatar-count rounded-circle" src="http://placehold.it/100x100" alt="" width="50px" height="50px">
    </div>
  </div>
</div>
